<% include ../partials/boilerplate %>
<% include ../partials/header.ejs %>


<div id='smallcircleone'><p id='edittitle'>Edit your <br>Review below...</p> </div>

<form method='POST' action='/reviews/<%= data.id %>?_method=PUT'>
  <input class='white' name='classname' type='text' value='<%= data.classname %>' />
  <input class='white' name='instructor' type='text' value='<%= data.instructor %>' />
  <input class='white' name='level' type='text' value='<%= data.level %>' />
  <input class='long' name='review' type='text' value='<%= data.review %>' />

<br>
  <input type='submit' value='Post it!' />
</form>

<% include ../partials/footer %>
